### Lesson 3 - Lists, Tuples, and the slicing syntax

In [1]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [2]:
nephews = ['Daniel','Clyde','Simon','Jane','Louise','Ange']

In [6]:
nephews[-3]

'Jane'

In [7]:
for i in nephews:
    print(i)

Daniel
Clyde
Simon
Jane
Louise
Ange

In [10]:
nephews.append('Stephanie') #add to a list (single element)

In [12]:
nephews

['Daniel',
 'Clyde',
 'Simon',
 'Jane',
 'Louise',
 'Ange',
 'Stephanie',
 'Stephanie']

In [13]:
#To add multiple elements at a go, use extend:
nephews.extend(['Lynet','Sarah','Dorothy'])

In [14]:
nephews

['Daniel',
 'Clyde',
 'Simon',
 'Jane',
 'Louise',
 'Ange',
 'Stephanie',
 'Stephanie',
 'Lynet',
 'Sarah',
 'Dorothy']

In [19]:
#concatenation = operator overloading in python
nieces = ['Claudette','Jeanette','Mwamikazi']
family = nephews + nieces
family

['Daniel',
 'Clyde',
 'Simon',
 'Jane',
 'Louise',
 'Ange',
 'Stephanie',
 'Stephanie',
 'Lynet',
 'Sarah',
 'Dorothy',
 'Claudette',
 'Jeanette',
 'Mwamikazi']

In [21]:
family.insert(6,'Grace')
family

['Daniel',
 'Clyde',
 'Simon',
 'Jane',
 'Louise',
 'Ange',
 'Grace',
 'Stephanie',
 'Stephanie',
 'Lynet',
 'Sarah',
 'Dorothy',
 'Claudette',
 'Jeanette',
 'Mwamikazi']

In [20]:
#removing elements

In [24]:
del family[7]  #removes an element from the stated index
family

['Daniel',
 'Clyde',
 'Simon',
 'Jane',
 'Louise',
 'Ange',
 'Grace',
 'Lynet',
 'Sarah',
 'Dorothy',
 'Claudette',
 'Jeanette',
 'Mwamikazi']