#### Advanced containers

In [1]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [2]:
#tuples are immutable - not modifiable
#used to store records that should not be modified once stored

In [3]:
people = [('Agrippina','Mwangi','Mars 26'),
          ('Joseph','Mwangi','Octobre 5'),
          ('Lucy','Waigwe','Aout 5'),
          ('Lynet','Wanjeri','Fevrier 13')]

In [4]:
people[0][1]

'Mwangi'

In [5]:
#finding people with a given birthday
[person for person in people if person[2] == 'Fevrier 13']

[('Lynet', 'Wanjeri', 'Fevrier 13')]

In [6]:
persontype = collections.namedtuple('person',['firstname','lastname','birthday'])
persontype

__main__.person

In [7]:
#create an object entering the name and person type
pina = persontype('Agrippina','Mwangi','Mars 26')
pina

person(firstname='Agrippina', lastname='Mwangi', birthday='Mars 26')

In [8]:
pina.firstname

'Agrippina'

In [9]:
pina.lastname

'Mwangi'

In [10]:
pina.birthday

'Mars 26'

In [11]:
#persontype(people[0]) #problem --- We need to access two other arguments lastname and birthday
#solution - use tuple unpacking

In [12]:
namedpeople = [persontype(*person) for person in people]
namedpeople

[person(firstname='Agrippina', lastname='Mwangi', birthday='Mars 26'),
 person(firstname='Joseph', lastname='Mwangi', birthday='Octobre 5'),
 person(firstname='Lucy', lastname='Waigwe', birthday='Aout 5'),
 person(firstname='Lynet', lastname='Wanjeri', birthday='Fevrier 13')]

In [13]:
#accessing a person using the if condition statement
[person for person in namedpeople if person.firstname == 'Agrippina']

[person(firstname='Agrippina', lastname='Mwangi', birthday='Mars 26')]

In [14]:
#printing out all the first names
print("First names of the list:")
[person.firstname for person in namedpeople]

First names of the list:

['Agrippina', 'Joseph', 'Lucy', 'Lynet']

In [15]:
!pip install dataclasses

Requirement already satisfied: dataclasses in c:\users\agrippina mwangi\anaconda3\lib\site-packages (0.6)

In [16]:
from dataclasses import dataclass

In [17]:
@dataclass
class personclass:
    firstname: str
    lastname: str
    birthday: str = 'unknown'  #sets the default birthday as unknown

In [18]:
michele = personclass('Michelle','Mularkey')
michele

personclass(firstname='Michelle', lastname='Mularkey', birthday='unknown')

In [19]:
michele.firstname

'Michelle'

In [20]:
#creating methods for the python class
@dataclass
class personclass2:
    firstname: str
    lastname: str
    birthday: str = 'unknown'  #sets the default birthday as unknown
    
    def fullname(self):
        return self.firstname+' '+self.lastname

In [23]:
mic = personclass2('Michele','Vallisneri','Mars 26')
mic

personclass2(firstname='Michele', lastname='Vallisneri', birthday='Mars 26')

In [24]:
mic.fullname()

'Michele Vallisneri'

In [30]:
def mydefault():
    return "Simbizi"

In [31]:
questions = collections.defaultdict(mydefault)

In [32]:
questions['Quel age as-tu?']

'Simbizi'

In [33]:
questions

defaultdict(<function __main__.mydefault()>, {'Quel age as-tu?': 'Simbizi'})

#### Attempting case scenario: Birthdays

In [37]:
birthdays = {}

for person in namedpeople:
    if person.birthday in birthdays:
        birthdays[person.birthday].append(person.firstname) #adds a value corresponding to the key index
    else:
        birthdays[person.birthday] = [person.firstname]

In [38]:
birthdays

{'Mars 26': ['Agrippina'],
 'Octobre 5': ['Joseph'],
 'Aout 5': ['Lucy'],
 'Fevrier 13': ['Lynet']}

In [39]:
list()

[]

In [40]:
#alternatively...
birthdays = collections.defaultdict(list)

for person in namedpeople:
    birthdays[person.birthday].append(person.firstname)

In [41]:
birthdays

defaultdict(list,
            {'Mars 26': ['Agrippina'],
             'Octobre 5': ['Joseph'],
             'Aout 5': ['Lucy'],
             'Fevrier 13': ['Lynet']})

#### End of Chapter 2