### Lesson 3 - Lists, Tuples, and the slicing syntax

In [1]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [2]:
nephews = ['Daniel','Clyde','Simon','Jane','Louise','Ange']

In [6]:
nephews[-3]

'Jane'

In [7]:
for i in nephews:
    print(i)

Daniel
Clyde
Simon
Jane
Louise
Ange

In [10]:
nephews.append('Stephanie') #add to a list (single element)

In [12]:
nephews

['Daniel',
 'Clyde',
 'Simon',
 'Jane',
 'Louise',
 'Ange',
 'Stephanie',
 'Stephanie']

In [13]:
#To add multiple elements at a go, use extend:
nephews.extend(['Lynet','Sarah','Dorothy'])

In [14]:
nephews

['Daniel',
 'Clyde',
 'Simon',
 'Jane',
 'Louise',
 'Ange',
 'Stephanie',
 'Stephanie',
 'Lynet',
 'Sarah',
 'Dorothy']

In [19]:
#concatenation = operator overloading in python
nieces = ['Claudette','Jeanette','Mwamikazi']
family = nephews + nieces
family

['Daniel',
 'Clyde',
 'Simon',
 'Jane',
 'Louise',
 'Ange',
 'Stephanie',
 'Stephanie',
 'Lynet',
 'Sarah',
 'Dorothy',
 'Claudette',
 'Jeanette',
 'Mwamikazi']

In [21]:
family.insert(6,'Grace')
family

['Daniel',
 'Clyde',
 'Simon',
 'Jane',
 'Louise',
 'Ange',
 'Grace',
 'Stephanie',
 'Stephanie',
 'Lynet',
 'Sarah',
 'Dorothy',
 'Claudette',
 'Jeanette',
 'Mwamikazi']

In [20]:
#removing elements

In [25]:
del family[7]  #removes an element from the stated index
family

['Daniel',
 'Clyde',
 'Simon',
 'Jane',
 'Louise',
 'Ange',
 'Grace',
 'Sarah',
 'Dorothy',
 'Claudette',
 'Jeanette',
 'Mwamikazi']

In [28]:
family.remove('Jane')  #remove a value based on the element name
family

['Daniel',
 'Clyde',
 'Simon',
 'Louise',
 'Ange',
 'Grace',
 'Sarah',
 'Dorothy',
 'Jeanette',
 'Mwamikazi']

In [30]:
#sorting elements in a list

In [57]:
family.sort() #arranges in ascending order by default
family

['Ange',
 'Clyde',
 'Daniel',
 'Dorothy',
 'Grace',
 'Jeanette',
 'Louise',
 'Mwamikazi',
 'Sarah',
 'Simon']

In [58]:
#sorting in descending order
family_rev = sorted(family,reverse=True)
family_rev

['Simon',
 'Sarah',
 'Mwamikazi',
 'Louise',
 'Jeanette',
 'Grace',
 'Dorothy',
 'Daniel',
 'Clyde',
 'Ange']

In [59]:
#list indexing and slicing

In [60]:
squares = []
for i in range(0,10):
    sqr = i*i
    squares.append(sqr)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [61]:
squares[0:6]

[0, 1, 4, 9, 16, 25]

In [62]:
squares[-3:]

[49, 64, 81]

In [63]:
squares[0:6:2]

[0, 4, 16]

In [64]:
del squares[-4:]
squares

[0, 1, 4, 9, 16, 25]

In [65]:
squares[-6:-8] = ["Int","float"]
squares

['Int', 'float', 0, 1, 4, 9, 16, 25]

In [66]:
del squares[0:2]
squares

[0, 1, 4, 9, 16, 25]

In [67]:
integers = ("one","two","three","four","five","six")
integers

('one', 'two', 'three', 'four', 'five', 'six')

In [70]:
#integers[0] = "p" 
#wrong - tuple does not support item assignment